.App {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff9e7;
  gap: 30px;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px 40px;
  background: #56ca9a;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px 40px;
  background: #56ca9a;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
input{
  border: none;
  outline: none;
  padding: 10px 20px;

}
button{
  padding: 10px 20px;
  border: none;
  background: #124364;
  color: #fff;
  font-weight: bold;
}